<a href="https://colab.research.google.com/github/kamleshsah/ML-Project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import joblib
import pandas as pd
import numpy as np

In [6]:
model=joblib.load('/content/drive/My Drive/Colab Notebooks/dt_youtube')

In [7]:
df=pd.read_csv('/content/drive/My Drive/test.csv')
df.head(5)

       vidid    views likes dislikes comment   published  duration category
0   VID_1054   440238  6153      218    1377  18-02-2017   PT7M29S        B
1  VID_18629  1040132  8171      340    1047  28-06-2016   PT6M29S        F
2  VID_13967    28534    31       11       1  10-03-2014  PT37M54S        D
3  VID_19442  1316715  2284      250     274  05-06-2010   PT9M55S        G
4    VID_770  1893173  2519      225     116  03-09-2016    PT3M8S        B

In [9]:
category={'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8}
df['category']=df['category'].map(category)
df.head()

       vidid    views likes dislikes comment   published  duration  category
0   VID_1054   440238  6153      218    1377  18-02-2017   PT7M29S         2
1  VID_18629  1040132  8171      340    1047  28-06-2016   PT6M29S         6
2  VID_13967    28534    31       11       1  10-03-2014  PT37M54S         4
3  VID_19442  1316715  2284      250     274  05-06-2010   PT9M55S         7
4    VID_770  1893173  2519      225     116  03-09-2016    PT3M8S         2

In [10]:
df=df[df.views!='F']
df=df[df.likes!='F']
df=df[df.dislikes!='F']
df=df[df.comment!='F']

In [11]:
df['views']=pd.to_numeric(df['views'])
df['likes']=pd.to_numeric(df['likes'])
df['dislikes']=pd.to_numeric(df['dislikes'])
df['comment']=pd.to_numeric(df['comment'])

In [12]:
col_vidid=df['vidid']
duration=df['duration'].values

In [14]:
from sklearn.preprocessing import LabelEncoder
df['vidid']=LabelEncoder().fit_transform(df['vidid'])
df['published']=LabelEncoder().fit_transform(df['published'])
df['duration']=LabelEncoder().fit_transform(df['duration'])

In [16]:
#Convert Hour-min-sec for duration
def convert(x):
    a=''
    sum=0
    for i in x[2:]:
        if i=='H':
            a=int(a)
            sum+=a*60*60
            a=''
        elif i=='M':
            a=int(a)
            sum+=a*60
            a=''
        elif i=='S':
            a=int(a)
            sum+=a
            a=''
            break
        else:
            a+=i
    return sum
    
    
ans=[]
for i in duration:
    a=convert(i)
    ans.append(a)
df['duration']=ans

In [17]:
df.head()

   vidid    views  likes  dislikes  comment  published  duration  category
0    231   440238   6153       218     1377       1186       449         2
1   3444  1040132   8171       340     1047       1898       389         6
2   1593    28534     31        11        1        634      2274         4
3   3775  1316715   2284       250      274        307       595         7
4   7644  1893173   2519       225      116        187       188         2

In [19]:
df=df.drop(['vidid'],axis=1)
df.head()

     views  likes  dislikes  comment  published  duration  category
0   440238   6153       218     1377       1186       449         2
1  1040132   8171       340     1047       1898       389         6
2    28534     31        11        1        634      2274         4
3  1316715   2284       250      274        307       595         7
4  1893173   2519       225      116        187       188         2

In [20]:
x_test=df.values

array([[ 440238,    6153,     218, ...,    1186,     449,       2],
       [1040132,    8171,     340, ...,    1898,     389,       6],
       [  28534,      31,      11, ...,     634,    2274,       4],
       ...,
       [1891692,    4606,    1109, ...,    1765,     434,       6],
       [ 714859,    1639,     151, ...,    1544,     195,       4],
       [   5297,      12,       1, ...,    1315,     614,       4]])

In [21]:
#Normalise Data
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_test=scaler.fit_transform(x_test)

In [35]:
prediction=model.predict(x_test)

In [36]:
prediction

array([4.000e+00, 4.000e+00, 1.000e+00, ..., 6.000e+00, 4.000e+00,
       1.291e+03])

In [37]:
final=pd.DataFrame(prediction)

In [38]:
df2=pd.read_csv('/content/drive/My Drive/test.csv')
df2['Adview']=final

In [40]:
df2.head()

       vidid    views likes dislikes  ...   published  duration category Adview
0   VID_1054   440238  6153      218  ...  18-02-2017   PT7M29S        B    4.0
1  VID_18629  1040132  8171      340  ...  28-06-2016   PT6M29S        F    4.0
2  VID_13967    28534    31       11  ...  10-03-2014  PT37M54S        D    1.0
3  VID_19442  1316715  2284      250  ...  05-06-2010   PT9M55S        G    6.0
4    VID_770  1893173  2519      225  ...  03-09-2016    PT3M8S        B    1.0

[5 rows x 9 columns]

In [41]:
df2.to_csv('Predictions_submission.csv',index=False)